# Ignore everything
*

# Include files required for build or at runtime
!/bookmarks

!/bootstrap.sh
# Re-include the docker/ dir so the backend entrypoint is in the build context.
# (A file in an excluded directory cannot be re-included on its own.)
!/docker
# Re-include the nginx config for the frontend image build
!/nginx
!/LICENSE.txt
!/manage.py
!/package.json
!/package-lock.json
!/postcss.config.js
!/pyproject.toml
!/rollup.config.mjs
!/supervisord-tasks.conf
!/supervisord-all.conf
!/uv.lock
!/uwsgi.ini
!/version.txt

 # Remove dev settings
/bookmarks/settings/dev.py
